:root{
  --color-white: #FFF;
  --color-grey: #CCC;
  --color-black: #222;
  --color-purple: #62516D;
  --color-orange: #F77A36;
  --color-transparent: #FFF2;
}

*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  position: relative;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  background-color: var(--color-black);
  color: var(--color-white);
  margin: 0;
}
#waves{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/layered-waves-haikei\(2\).svg");
  transition: opacity 1s;
}

/* HEADER */
.header{
  width: 100%;
  padding: 0 1rem;
  position: fixed;
  z-index: 10;
  height: 4rem;
  background-color: var(--color-black);
  border-bottom: 2px solid var(--color-transparent);
}
.header__content{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 0.5rem;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}
.header__title{
  grid-column: 1;
}
.menu{
  grid-column: 2 / 5;
}
.header__links-list{
  grid-column: 5;
}

.header__title h1{
  font-size: 20px;
}

.menu__list{
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}
.menu__list-link{
  padding: 0.5rem 0;
}
.menu__list-link:hover{
  color: var(--color-orange);
}

.header__links-list{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.75rem;
}

.header__mobile-button button{
  background-color: inherit;
  border: 0;
  color: var(--color-white);
  cursor: pointer;
}
.header__mobile-button, .mobile-menu{
  display: none;
}

/* MAIN GENERAL */
.container{
  padding: 0 1rem;
}
main{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
}
main section{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
section#inicio, section#contacto{
  height: 100vh;
  min-height: 500px;
}

.section-title{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 0.5rem 0 1rem 0;
}
.section-title hr{
  flex-grow: 1;
  height: 0;
  border-color: var(--color-orange);
}
.section-title h2{
  font-size: smaller;
  color: var(--color-orange);
}


/* INICIO */
.inicio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.inicio__image{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 0 0 1rem var(--color-transparent);
}
.inicio__text{
  text-align: center;
}
.inicio__text h2{
  margin: 0;
}
.inicio__icons-list{
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.inicio__icon{
  width: 4rem;
  height: 4rem;
}


/* PROYECTOS */
.proyectos__item{
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--color-transparent);
  box-shadow: 0 0.25rem 0.75rem #0005;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  gap: 1rem;
  margin: 2rem 0;
}
.proyectos__item-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.proyectos__item-text h3{
  margin: 0;
}
.proyectos__item-text ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.proyectos__item-text li{
  padding: 0.25rem 0.5rem;
  background-color: var(--color-transparent);
  border-radius: 0.5rem;
}
.proyectos__links{
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.proyectos__links--bottom{
  display: none;
}
.proyectos__links a{
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--color-orange);
  border-radius: 0.25rem;
  font-weight: bold;
}
.proyectos__links a:hover{
  box-shadow: 0 0 0.5rem var(--color-orange);
}

.proyectos__item-images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}
.proyectos__item-images>div{
  position: relative;
}
.proyectos__item-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 0.25rem;
}
.proyectos__item-images>div:first-child{
  grid-column: 2 span;
}

.proyectos__item--portfolio{
  display: block;
  text-align: center;
}
.proyectos__item--portfolio ul{
  margin: 0.5rem auto 0 auto;
}
.proyectos__item--portfolio .proyectos__links{
  margin: 0.75rem auto 0 auto;
  width: max-content;
}


/* HABILIDADES */
.habilidades__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.habilidades__group{
  grid-column: 1 span;
  padding: 1rem 1.25rem;
  background-color: var(--color-transparent);
  box-shadow: 0 0.25rem 0.75rem #0005;
  border-radius: 1rem;
}
.habilidades__group h3{
  margin: 0 0 0.5rem 0;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--color-grey);
}
.habilidades__icons-list{
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.habilidades__icon{
  grid-column: 1 span;
}
.habilidades__icon img{
  width: 75%;
  aspect-ratio: 1 / 1;
}
.habilidades__icon h4{
  margin: 0;
  font-size: 12px;
}


/* SOBRE MI */
.sobre-mi__description{
  padding: 0 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
}
.sobre-mi__avatar{
  grid-column: 1;
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  filter: grayscale(0.5);
  box-shadow: 0 0 1rem 0.5rem #0005;
}
.sobre-mi__text{
  grid-column: 2 / span 3;
}
.sobre-mi__text p{
  margin: 0.5rem 0;
}

.sobre-mi__studies{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.sobre-mi__studies h3{
  margin: 2rem 0 0.75rem 0;
}
.sobre-mi__studies-item h4,.sobre-mi__studies-item p{
  margin: 0;
}

.sobre-mi__studies-item{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.sobre-mi__icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  text-align: center;
  font-size: 14px;
}
.sobre-mi__icon img{
  width: 6rem;
}
.sobre-mi__studies-item ul{
  list-style: none;
  padding-left: 0;
  margin: 0.5rem 0 0 0;
  color: var(--color-grey);
}
.sobre-mi__studies-item li span{
  font-weight: bold;
  color: var(--color-white);
}


/* CONTACT */
.contacto__container{
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.contacto__details{
  margin-top: 0.5rem;
}
.contacto__details-item{
  padding: 0.25rem 0;
  margin: 0.25rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contacto__details-item>div{
  width: 2rem;
}
.contacto__details-item a:hover{
  color: var(--color-orange);
}

.contacto__form{
  display: flex;
  flex-direction: column;
}
.contacto__form>div{
  margin: 0.5rem 0;
  display: flex;
  align-items: baseline;
}
.contacto__form label{
  display: inline-block;
  width: 100px;
  color: var(--color-grey);
}
.contacto__form input, .contacto__form textarea{
  flex-grow: 1;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: none;
  resize: vertical;
  max-height: 300px;
  min-height: 36px;
  font-family: 'Quicksand', sans-serif;
  font-size: medium;
  color: var(--color-white);
  background-color: var(--color-purple);
}
.contacto__send{
  justify-content: end;
}
.contacto__button{
  width: min-content;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: var(--color-purple);
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem #0005;
  cursor: pointer;
  font-weight: bold;
  color: var(--color-white);
}
.contacto__button:hover{
  background-color: var(--color-orange);
}


/* MOBILE */
@media (max-width: 900px) {
  .header__content{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .menu__list{
    justify-content: end;
  }
  .header__links-list{
    display: none;
  }
}

@media (max-width: 768px) {
  .header__mobile-button{
    display: block;
  }
  .header{
    padding: 0;
  }
  .header__content{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
  .header__links-list, .menu{
    display: none;
  }
  .mobile-menu__container{
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    list-style: none;
    background-color: var(--color-black);
    border-bottom: 2px solid var(--color-transparent);
    border-top: 1px solid var(--color-transparent);
  }
  .mobile-menu__list-item a{
    display: inline-block;
    padding: 0.75rem 0;
  }

  .proyectos__item{
    display: flex;
    flex-direction: column;
    align-items: unset;
  }
  .proyectos__item-images{
    height: 330px;
  }
  .proyectos__links{
    display: none;
  }
  .proyectos__links--bottom{
    display: flex;
  }

  .habilidades__container{
    grid-template-columns: 1fr;
  }
  .habilidades__icons-list{
    grid-template-columns: repeat(5, 1fr);
    gap: 0.25rem;
    row-gap: 1rem;
  }

  .sobre-mi__description{
    padding: 0;
    grid-template-columns: 1fr;
  }
  .sobre-mi__avatar{
    margin: 0 auto;
  }
  .sobre-mi__text{
    grid-column: 1 span;
  }
  .sobre-mi__studies{
    grid-template-columns: 1fr;
  }

  .contacto__container{
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
  }
  .contacto__details-item{
    gap: 0.25rem;
  }
  .contacto__form>div{
    display: block;
  }
  .contacto__form label{
    display: block;
    width: 100%;
  }
  .contacto__form input, .contacto__form textarea{
    width: 100%;
  }
}

@media (max-width: 400px) {
  .mobile-menu__container{
    flex-direction: column;
  }
  .mobile-menu__list-item a{
    display: block;
    padding: 0.5rem 0;
    text-align: center;
  }

  .container{
    padding: 0 0;
  }
  .proyectos__item{
    border-radius: 0;
  }

  .habilidades__group{
    border-radius: 0;
    padding: 1rem;
  }
  .habilidades__icons-list{
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5rem;
  }

  .sobre-mi__text, .sobre-mi__studies{
    padding: 0 1rem;
  }

  .contacto__container{
    padding: 0 1rem;
  }
  .contacto__details-item{
    font-size: 14px;
  }
}